.section4 {
	display: flex;
	flex-wrap: wrap;
	min-height: 600px;
}
.section4 .section4-img {
	width: 50%;
	position: relative;
}
.section4 .section4-img .laptop-desktop {
	width: 100%;
	left: -190px;
	position: absolute;
}
.section4 .section4-img .laptop-mobile {
	display: none;
	width: 100%;
}
.section4 .section4-text {
	width: 50%;
	padding: 5rem 2rem;
}
.section4 .section4-text div h3 {
	color: var(--dark);
}
.section4 .section4-text div p {
	color: var(--dark-muted);
}

@media (max-width: 375px) {
	.section4 .section4-img {
		width: 100%;
	}
	.section4 .section4-text {
		width: 100%;
		text-align: center;
	}
	.section4 .section4-img .laptop-desktop {
		display: none;
	}
	.section4 .section4-img .laptop-mobile {
		display: block;
	}
}
